# Dossier de l'environnement virtuel Python
# C'est spécifique à votre machine, ne jamais le versionner
venv/
.venv/

# Fichiers de cache Python
# Ils sont générés automatiquement
__pycache__/
*.pyc
.eggs/

# Fichiers générés par l'éditeur de code (VS Code)
# Paramètres locaux de l'utilisateur
.vscode/

# Fichiers générés par le setup.py ou pip
# Inutiles à versionner, ils sont recréés à l'installation
build/
dist/
*.egg-info/

# Dossier des résultats
# Contient les images améliorées, qui sont des 'sorties' du programme
results/

# Dossier des modèles de poids (.pth)
# Ce sont des gros fichiers binaires. Git n'est pas fait pour ça.
# De plus, le script les télécharge automatiquement si besoin.
weights/

# Fichiers de log ou de données temporaires
*.log
*.tmp```